.git
.gitignore
node_modules
**/node_modules

.next
**/.next
dist
**/dist
coverage
**/coverage

.turbo
**/.turbo

.DS_Store
*.log

.env
**/.env
**/.env.local
**/.env.development
**/.env.production

apps/web/.next
apps/web/.vercel
apps/web/.swc

infra/.env